body {
    background-color: rgb(245, 245, 245);
}

.topcontainer {
    margin-top: 100px;
    display: flex;
    
}


.logo2 {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}


.nextdiv {
    margin-top: 20px;
    margin-left: 10px;
    font-size: small;
}


.centerdiv {
    margin-top: 10px;
    margin-left: 450px;
    font-size:small;
    word-spacing: 10px;
}

.rightdiv {
    margin: 10px;
    margin-left: 650px;
    margin-right:2px;
    font-size:small;


}

.cartitem{
    display: flex;
    width:100%;
    margin-top: 100px;
    margin-left: 20px;
    justify-content: space-around;
}


.imagesrc {
    height: 250px;
    Width: 250px;
}

.description {
    font-size: x-small;
}

.heartIcon {
    height:20px;
    width:20px;
}

.Amount {
    font-size:small;
}

